.PokerCard {
  width: 80px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 1s;
}

.PokerCard:hover { box-shadow: 0px 0px 8px lightgrey; }


@media (max-width: 650px) {
  .PokerCard {
    width: 60px;
  }
}

@media (max-width: 450px) {
  .PokerCard {
    width: 40px;
  }
}