@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
}

.fadeInUp { animation: fadeInUp .8s eas; }

.fadeInDown { animation: fadeInDown .8s; }

.fadeInLeft { animation: fadeInLeft .5s; }

.fadeInRight { animation: fadeInRight .5s; }

@keyframes fadeInUp {
  from {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    visibility: hidden;
    transform: translate3d(-9999vw, 0, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    visibility: hidden;
    transform: translate3d(0, -9999vh, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    visibility: hidden;
    transform: translate3d(9999vw, 0, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}